<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <%= subHeading %></p>
    <br/>
    <ul>
      <% list.forEach(item => { %>
     <li>ID: <%= item.id %> - Title: <%= item.title %></li>
     <% }) %> 
    </ul>
  </body>
</html>
